<html lang="en">

<head>
  <meta property="og:description" content="Official website of SyncCodes.">
    <meta name="theme-color" content="#66DDD9">
    <meta name="twitter:card" value="summary" />
    <meta name="twitter:title" content="SyncCodes" />
    <meta name="twitter:image" content="https://cdn.glitch.com/cfc1231b-032b-48fc-96cf-ac3fdca38d14%2FIcon.png?1546888865467" />
    <meta name="twitter:description" content="SyncCo is server that provides help on demand. We have a very proficient Staff team that help you with any problems." />
    <meta property="og:site_name" content="SyncCodes - Profile">
    <meta property="og:title" content="SyncCodes">
    <meta property="og:image:url" content="https://cdn.glitch.com/cfc1231b-032b-48fc-96cf-ac3fdca38d14%2FIcon.png?1546888865467">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
    <link rel="stylesheet" href="style.css">
    <script src="main.js"></script>
    <link href="https://cdn.glitch.com/cfc1231b-032b-48fc-96cf-ac3fdca38d14%2FIcon.png?1546888865467" rel="icon">
                <!-- Global site tag (gtag.js) - Google Analytics -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=UA-136398330-1"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-136398330-1');
      </script>
    <title>SyncCodes - Your Profile</title>
</head>

<body>

    <nav class="navbar is-light" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <!-- <a class="navbar-item" href="#">
      <img src="https://bulma.io/images/bulma-logo.png" width="112" height="28">
    </a> -->

      <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item" href="/">
          HOME
        </a>
       <a class="navbar-item" href="/about">
      ABOUT
        </a>
      <a class="navbar-item" href="/projects">
      PROJECTS
    </a>
      </div>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a class="button is-warning" href="/">
            Sign up
          </a>
          <a id="loginBtn" class="button is-light" href="/login">
            Log in
          </a>
        <a id="profileBtn" class="button is-light is-active" href="/profile">
          Profile
          </a>
          
      </div>
    </div>
    </div>
  </nav>
     <footer>
   <div class="footer is-fixed-bottom">
    <p class="f-text">
      Made with ❤️ by Bhavya Dang (Sync)
    </p>
    <span class="icons is-pulled-right">
      <a href="#" class="icon"><i class="fab fa-instagram"></i></a>
      <a href="#" class="icon"><i class="fab fa-github"></i></a>
      <a href="#" class="icon"><i class="fab fa-discord"></i></a>
      <a href="#" class="icon"><i class="fab fa-youtube"></i></a>
    </span>
  </div>
    
    <div class="bottom-footer">
      &copy; 2019 sync.codes | All rights reserved
    </div> 
    </footer>
    
    <script src="https://www.gstatic.com/firebasejs/5.9.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.9.0/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.9.0/firebase-firestore.js"></script>
    <script>
      // Initialize Firebase
      const config = {
        apiKey: "AIzaSyDMcIEcP28j0ZFTMlJpPITMAKs8yXIFMDU",
        authDomain: "sync-auth.firebaseapp.com",
        databaseURL: "https://sync-auth.firebaseio.com",
        projectId: "sync-auth"
      };
      firebase.initializeApp(config);
      
      const auth = firebase.auth();
      const db = firebase.firestore();
      
      db.setting({ timestampsInSnapshots: true });
      
    </script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-132379867-1"></script>
    <script type="text/javascript" src="canvasconstructor.master.min.js"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    </script>
</body>

</html>