<html lang="en">

<head>
    <meta property="og:description" content="Official website of SyncCodes">
    <meta name="theme-color" content="#66DDD9">
    <meta name="twitter:card" value="summary" />
    <meta name="twitter:title" content="SyncCodes" />
    <meta name="twitter:image" content="https://www.canva.com/design/DADUNHS5Irw/5_rYKsReu_FCZvZcqFCeFQ/view?utm_content=DADUNHS5Irw&utm_campaign=designshare&utm_medium=link&utm_source=sharebutton" />
    <meta name="twitter:description" content="Official website of SyncCodes" />
    <meta property="og:site_name" content="SyncCodes - Home">
    <meta property="og:title" content="SyncCodes">
    <meta property="og:image:url" content="https://www.canva.com/design/DADUNHS5Irw/5_rYKsReu_FCZvZcqFCeFQ/view?utm_content=DADUNHS5Irw&utm_campaign=designshare&utm_medium=link&utm_source=sharebutton">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
            <!-- Global site tag (gtag.js) - Google Analytics -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.9.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.9.0/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.9.0/firebase-firestore.js"></script>
    <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
    <script>
    particlesJS.load('particles-js', '/particles.json', function() {
    console.log('callback - particles.js config loaded');
    });
    </script>
    
    <script>
      // Initialize Firebase
      const config = {
        apiKey: "AIzaSyDMcIEcP28j0ZFTMlJpPITMAKs8yXIFMDU",
        authDomain: "sync-auth.firebaseapp.com",
        databaseURL: "https://sync-auth.firebaseio.com",
        projectId: "sync-auth"
      };
      firebase.initializeApp(config);
      
      const auth = firebase.auth();
      const db = firebase.firestore();
      const googleProvider = new firebase.auth.GoogleAuthProvider();
      const githubProvider = new firebase.auth.GithubAuthProvider();
    </script>
    <script src="/auth.js"></script>
      <link rel="stylesheet" href="/style.css">
      <link href="https://cdn.glitch.com/cfc1231b-032b-48fc-96cf-ac3fdca38d14%2FCopy%20of%20SC.png?1552760735132" rel="icon">
      <title>SyncCodes - SignUp</title>
</head>

<body style="background: #222f3e">

    <nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item" href="/">
          HOME
        </a>
            <a class="navbar-item" href="#contact">
      Contact
        </a>
        <a class="navbar-item" href="#videos">
      videos
        </a>

      <a class="navbar-item" href="#projects">
      PROJECTS
    </a>
      </div>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a class="button is-warning is-active" href="/signup" id="signUpBtn">
            Sign up
          </a>
          <a id="loginBtn" class="button is-light" href="/login">
            Log in
          </a>
        <a id="profileBtn" class="button is-light" href="/profile">
          Profile
          </a>
          
      </div>
    </div>
    </div>
  </nav>
 
  <div class="container signupBox">
    <form action="">
      <div class="row">
        <h2 style="text-align:center">Login with Social Media or Manually</h2>
        
        <div class="col">
          <div class="hide-md-lg">
            <p>Or sign in manually:</p>
          </div>
  
          <input id="email" type="text" name="email" placeholder="Enter Email.." required>
          <input id="password" type="password" name="password" placeholder="Enter Password.." required>
          <input id="re_pass" type="password" name="re-pass" placeholder="Confirm Password" required>
          <input type="submit" value="Signup">
          <span class="al-acc">Already have an account?</span>
          <a class="login-text" href="/login"><strong>Login</strong></a>
        </div>
      </div>
    </form>
  </div>
  <footer>
   <div class="footer is-fixed-bottom">
    <p class="f-text">
      Made with ❤️ by Bhavya Dang (Sync)
    </p>
    <span class="icons is-pulled-right">
      <a href="#" class="icon"><i class="fab fa-instagram"></i></a>
      <a href="#" class="icon"><i class="fab fa-github"></i></a>
      <a href="#" class="icon"><i class="fab fa-discord"></i></a>
      <a href="#" class="icon"><i class="fab fa-youtube"></i></a>
    </span>
  </div>
    
    <div class="bottom-footer">
      &copy; 2019 sync.codes | All rights reserved
    </div> 
    </footer>
    
</body>

</html>